<app-home></app-home>

<h2>Reservation List</h2>

<div *ngIf="reservations.length; else noReservation">
  <p-table
    [value]="reservations"
    styleClass="p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Guest</th>
        <th>Email</th>
        <th>Room No</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reservation>
      <tr>
        <td>{{ reservation.guestName }}</td>
        <td>{{ reservation.guestEmail }}</td>
        <td>{{ reservation.roomNumber }}</td>
        <td>{{ reservation.checkInDate | date }}</td>
        <td>{{ reservation.checkOutDate | date }}</td>
        <td>
          <p-button
            label="Delete"
            severity="secondary"
            (click)="deleteReservation(reservation.id)"
          />
          <p-button label="Edit" [routerLink]="['/edit', reservation.id]" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #noReservation>
  <p>No reservation available</p>
</ng-template>
